<meta charset="UTF-8"/>
<div id="a">
	<div class="data_list">
		<div class="data_list_title">
		<img src="/static/images/about_icon.png"></img>
		关于本站</div>
		<div class="datas" style="padding-top: 20px;padding-left: 10px;">
			此为演示站点 项目源代码:<a href="https://github.com/Maystory/Film" target="_blank">梅凡的GitHub</a>;<br/><br/>
			以SpringBoot架构核心；<br/><br/>
			使用Spring Data Jpa作为数据访问对象层；<br/><br/>
			使用Spring Security作为web安全框架；<br/><br/>
			使用thymeleaf作为视图层模版引擎；<br/><br/>
			前台页面采用Bootstrap，后台管理页面采用Easyui；<br/><br/>
			微服务学习的基础<br/>
		</div>
	</div>
</div>
	
